<section class="comingsoon-s1 minh-footer-adj container-fluid bg-dark d-flex align-items-center py-5">
    <div class="row w-100 m-0 mt-5">
        <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 mx-auto text-center text-white">
            <h1 class="display-6">
                Coming soon
            </h1>
            <p class="lead">
                We are not ready yet, but starting soon. Please visit us again
                in a while.
            </p>
        </div>
    </div>
</section>