<section class="error-s1 minh-footer-adj container-fluid bg-dark d-flex align-items-center py-5">
    <div class="row w-100 m-0 mt-5">
        <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 mx-auto text-center text-white">
            <h1 class="display-6">
                Error 404
            </h1>
            <p class="lead">
                Page not found!
            </p>
            <div class="w-100 text-center">
                <a href="#!/" class="btn btn-outline-light rounded-pill">
                    back to <span class="fw-bold">Home</span>
                </a>
            </div>
        </div>
    </div>
</section>